logging:
  level:
    root: INFO
    org:
      springframework:
        mail: WARN

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
  liquibase:
    enabled: true
  mail:
    properties:
      mail:
        debug: false
